html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  text-align: center;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #262260;
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

h1 {
  color: #ffffa8;
  position: relative;
  margin-top: 0;
  padding-top: 4rem;
  font-size: 4.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  color: #ffffa8;
  position: relative;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.neon {
  font-family: Pacifico;
  font-size: 20rem;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.5), 0 0 20px rgba(255, 255, 0, 0.5),
    0 0 30px rgba(255, 255, 0, 0.5), 0 0 40px #ffdd1b, 0 0 70px #ffdd1b,
    0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  position: relative;
  color: #ffffa8;
}

@media only screen and (max-width: 768px) {
  .neon {
    font-size: 15rem;
  }
}
